/* CSS declarations go here */

.gui{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	color:  #F8E2A8;
}

.menu{
	margin: auto;
	height: 300px;
	width: 500px;
	background-color: #222222;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	position: absolute;
	opacity: 0.6;

}

.btns-zone{
	top:50%;
	margin-top: -35px;
	position: relative;

}

.menu .btns-zone .menu-btn{
	margin: auto;
	width: 120px;
	height: 35px;
	display: block;
}

.input-field{
	
}

.create-zone{
	top:50%;
	margin-top: -34px;
	position: relative;
	text-align: center;
}

.room-zone{
	position: relative;
	text-align: center;
}

.gui table{
	width: 100%;
	text-align: center;
	color:  #F8E2A8;
}

.gui table .btn-join {
	width: 100%;
}

.gui table .not-joined {
	color: #884444;
}

.gui table .joined {
	color: #448844;
}
